body{
    background-color: rgb(255, 255, 255);
}
/* nav section */

nav{
    background-color: rgb(245, 102, 19);
}

.navbar-brand{
    color: rgb(255, 255, 255);
}  

.nav-link{
    color: rgb(255, 255, 255);
}

.menu-icon{
    width: 30px;
}

#logo{
    height: 40px;
}

/* body content */

h3{
    color: rgb(189, 72, 4);
}

.mvg-logo{
    width: 600px;
    height: 600px;
}

 /* footer */

footer{
    background-color: rgb(83, 82, 82);
}

.footer-list{
    margin-top: 200px;
    color:rgb(199, 199, 199);
}

ul{
    list-style-type: none;
}

.footer-icon{
    height: 30px;
}

